@use "../../../sass/" as *;

.education-container {
  animation: slideUp 0.5s forwards;
  overflow: hidden;
  background-color: transparent;
  max-width: 100%;
  min-height: 500px;
  @include flex(column, center, center);
  p {
    text-align: center;
    line-height: 24px;
    padding: 40px;
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(220, 223, 223);
    text-shadow: 3px 3px 3px black;
    letter-spacing: 1px;
  }
  ul {
    letter-spacing: 0.2;
    line-height: 28px;
    background-color: rgb(0, 0, 0, 0.2);
    padding: 15px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    font-family: $primary-font;
    color: rgb(220, 223, 223);
    text-shadow: 3px 3px 3px black;
    @include flex(column, center, center);
    gap: 15px;
    text-align: center;

    li {
      color: rgb(136, 169, 169);
      font-size: 24px;
      letter-spacing: 0.8px;
      span {
        font-size: 18px;
        color: white;
      }
    }
  }

  section {
    margin-top: 10px;
    animation: slideUp 0.08s forwards;
    @include flex(column, center, center);
    gap: 10px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(60%);
  }
  to {
    transform: translateY(0%);
  }
}

.scroll-down-arrow {
  cursor: pointer;
  animation: bounce 1s infinite alternate;
  color: white;
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.scroll-down-arrow:hover {
  scale: 1.1;
  color: yellow;
}
.scroll-up-arrow {
  cursor: pointer;
  animation: bounce 1s infinite alternate;
  color: white;
  font-size: 36px;
}
.scroll-up-arrow:hover {
  scale: 1.1;
  color: yellow;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(12px);
  }
}

.section5 {
  width: 1050px;
}

.flex-container {
  @include flex(column, center, center);
}


.coursePlan-img {
  width: 550px;
  margin-left: 32px;
  border-radius: 10px;
}

