@use "../../../sass/" as *;


.extra-container {
  max-width: 100%;
  min-height: 500px;
  gap: 6px;
  @include flex(column, center, center);
}
.comfort-zone-img {
  border-radius: 8px;
}
.playlist {
  border-radius: 8px;
  width: 300px;
  height: 352px;
  border: none;
}

.section1-extra {
  @include flex(column, space-around, center);
  gap: 25px;
  margin-top: 20px;

  p {
    max-width: 90%;
    text-align: justify;
    line-height: 26px;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(220, 223, 223);
    text-shadow: 3px 3px 3px black;
    letter-spacing: 1px;
  }

  img {
    max-width: 400px;
  }
}

.section2-extra {
  @include flex(default, space-around, center);
  gap: 35px;
  margin-top: 20px;
  p {
    text-align: justify;
    line-height: 26px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(220, 223, 223);
    text-shadow: 3px 3px 3px black;
    letter-spacing: 1px;
  }
}

.section2-extra-wrapper {
  @include flex(column, center,center);
  padding: 20px;
}