@use "../../../sass/" as *;

.portfolio-wrapper {
  position: relative;
  min-height: 500px;
}

.portfolio-container {
  animation: slideUp 0.5s forwards;
  @include flex(default, center, center);

  width: 850px;
  min-height: 500px;
  position: absolute;
  top: 110px;
  left: 95px;
  right: 0;
  bottom: 0;
  padding: 20px;

  ul {
    letter-spacing: 0.2;
    width: 850px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    list-style-type: none;
    font-family: $primary-font;
    color: rgb(220, 223, 223);
    text-shadow: 3px 3px 3px black;

    text-align: center;
    overflow: hidden;
  }
}
.portfolioCard {
  cursor: pointer;
  border-radius: 10px;
  border: solid 3px rgb(196, 87, 196, 0.3);
  background-color: rgba(16, 15, 15, 0.7);
  width: 195px;
  height: 250px;
  @include flex(column, space-around, center);
  h3 {
    font-size: 28px;
    margin-top: 6px;
  }
  h4 {
    font-size: 14px;
    color: rgb(147, 194, 178);
    font-weight: 100;
  }

  img {
    width: 160px;
    height: 120px;
    margin-top: 10px;
    border-radius: 5px;
  }

  p {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.portfolioCard:hover {
  scale: 1.05;
  background-color: rgb(15, 16, 13);
}

.portfolioCard-details {
  font-family: $primary-font;
  position: absolute;
  top: 125px;
  left: 116px;
  cursor: pointer;
  border-radius: 10px;
  border: solid 3px rgb(196, 87, 196, 0.3);
  background-color: rgba(187, 180, 180, 0.96);
  width: 805px;
  height: 500px;
  padding: 16px;
  @include flex(column, center, center);
  gap: 6px;
  h3 {
    font-size: 50px;
    margin-top: -18px;
  }
  h4 {
    font-size: 16px;
    color: rgb(93, 9, 94);
    font-weight: 100;
  }

  img {
    width: 400px;
    height: 230px;
   
    border-radius: 5px;
  }

  p {
    font-size: 14px;
    margin-bottom: 2px;
    margin-top: 10px;
    text-align: justify;
    
  }

button {
  align-self: flex-end;
  padding: 2px;
  cursor: pointer;
  color: purple;
  background-color: rgb(226, 212, 212);
  font-size: 18px;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 5px;
}
}
