@use "./../../../sass/" as *;

.intro-container {
  width: 69.563rem;
  height: 41.75rem;
  background-image: url(../../assets/images/IntroCover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flex(column, center, center);
  gap: 40px;
  font-family: $primary-font;
  position: relative;
  box-shadow: -1px 10px 75px 25px  rgba(60, 59, 59, 0.5);

  h1 {
    color: #d48080;
    font-size: 36px;
    font-weight: 400;
  }

  h2 {
    color: #e8e0e0;
    font-size: 28px;
    font-weight: 400;
  }

  &__box {
    background-color: rgb(185, 19, 19, 0.12);
    width: 800px;
    @include flex(column, center, center);
    color: white;
    font-size: 30px;
    font-weight: 200;
    line-height: 180%;
    text-align: center;
    opacity: 0; 
    animation: fadeIn 5s forwards;
    margin-bottom: 50px;
   
  }


  @keyframes fadeIn {
    from {
      
    }
    to {
      opacity: 1;
    }
  }

  &__profilePic {
    position: absolute;
    width: 120px;
    transform: translate(-440px, 220px);
  }
  &__profileName {
    position: absolute;
    width: 230px;
    transform: translate(-440px, 300px);
  }
}

.homeIconIntro {
  cursor: pointer;
  width: 40px;
  align-self: flex-end;
  margin-right: 130px;
}