@use "./../sass/" as *;
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #1E1E1E;
   
}

#root {
    width: 100vw;
    min-height: 100vh;
    @include flex(default, center,center);
  }
  