@use "../../../sass/" as *;

.aboutMe-container {
  min-width: 100%;
  min-height: 500px;
  padding: 0px;
  gap: 10px;
  @include flex(column, center, center);

  &__text {
    @include flex(column, center, center);
    gap: 60px;
  }

  img {
    width: 100px;
  }
  p {
    max-width: 100%;
    text-align: center;
    line-height: 24px;
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(220, 223, 223);
    text-shadow: 3px 3px 3px black;
    letter-spacing: 1px;
    margin-top: -80px;
  }

  ul {
    letter-spacing: 0.2;
    line-height: 28px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    font-family: $primary-font;
    color: rgb(220, 223, 223);
    text-shadow: 3px 3px 3px black;
    @include flex(default, center, center);
    gap: 2.05vw; // Modifica il gap in viewport width
    max-width: 800px; // Specifica una larghezza massima per evitare che l'elenco diventi troppo largo
    margin-top: 20px;

    li {
      color: rgb(136, 169, 169);
      font-size: 24px;
      letter-spacing: 0.8px;

      span {
        font-size: 18px;
        color: white;

        a {
          text-decoration: underline;
          cursor: pointer;
          color: rgb(95, 204, 234);
        }
      }
    }
  }
}

.listPart2,
.listPart1 {
  text-align: center;
  @include flex(column, center);
  gap: 2px;
}

.lightRed {
  background-color: transparent;
  color: rgb(209, 105, 105);
}
