@use "../../../sass/" as *;

.aboutMe-container {
  min-width: 100%;
  min-height: 500px;
  gap: 12px;
  @include flex(column, center, center);

  &__text {
    @include flex(column, center, center);
    gap: 60px;
  }

  .profilePic {
    width: 86px;

  }
  p {
    max-width:94%;
    text-align: left;
    line-height: 24px;
    padding: 30px;
    font-size: 20px;
/*     font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: $primary-font;
    font-weight: 100;
    color: rgb(220, 223, 223);
    text-shadow: 3px 3px 3px black;
    letter-spacing: 2px;
    margin-top: -80px;
  }

  ul {
    letter-spacing: 0.2;
    line-height: 28px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    list-style-type: none;
    font-weight: 500;
    font-family: $primary-font;
    color: rgb(220, 223, 223);
    text-shadow: 3px 3px 3px black;
    @include flex(default, center, center);
    gap: 2.05vw; 
    max-width: 800px; 
    margin-top: 20px;

    li {
      color: rgb(136, 169, 169);
      font-size: 24px;
      letter-spacing: 0.8px;

      span {
        font-size: 18px;
        color: white;

        a {
          text-decoration: underline;
          cursor: pointer;
          color: rgb(95, 204, 234);
        }
      }
    }
  }
}

.linkedIn-icon {
  width: 40px;
  margin-top: 10px;
}

.gitHubIcon {
  width: 50px;
  margin-top: 10px;
}

.links-footer {
  @include flex(default, center, center);
  gap : 10px; 
}


.listPart2,
.listPart1 {
  text-align: center;
  @include flex(column, center);
  gap: 2px;
}

.lightRed {
  background-color: transparent;
  color: rgb(209, 105, 105);
}


@media screen and (max-width: 510px) {
  .aboutMe-container {

    p {
      font-size: 14px;
      max-width: 330px;
    }

    ul {
      max-width: 320px; 
      @include flex(column, center, center);

      li {
        font-size: 18px;

        span {
          font-size: 14px;
        }
      }
   
      
    }
  }
}

