@use "../../../sass/" as *;

.aboutMe-wrapper {
  position: relative;
}

.aboutMe-container {
  width: 850px;
  height: 500px;
  position: absolute;
  top: 110px;
  left: 95px;
  right: 0;
  bottom: 0;
  padding: 20px;
  gap: 10px;
  @include flex(column, center, center);
  img {
    width: 100px;
    transform: translate(-300px, -80px);
  }

  p {
    text-align: center;
    line-height: 24px;
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(220, 223, 223);
    text-shadow: 3px 3px 3px black;
    letter-spacing: 1px;
    margin-top: -80px;
  }

  ul {
    letter-spacing: 0.2;
    line-height: 28px;
    background-color: rgb(0, 0, 0, 0.2);
    padding: 15px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    font-family: $primary-font;
    color: rgb(220, 223, 223);
    text-shadow: 3px 3px 3px black;
    @include flex(default, center, center);
    gap: 205px;
    li {
      color: rgb(136, 169, 169);
      font-size: 24px;
        letter-spacing: 0.8px;
      span {
        font-size: 18px;
        color: white;

        a {
            text-decoration: underline;
            cursor: pointer;
            color: rgb(95, 204, 234);
        }
      }
    }
  }
}

.listPart2, .listPart1 {
    text-align: center;
    @include flex(column, center
    );
    gap:2px

   
}